.navbar {
  padding: 0.5em;
}

.brand {
  background: transparent url(img/ppfhouse_15x28.jpg) no-repeat 0 50%;
  color: #790000;
  font-family: 'ChaletComprime-CologneSixty', 'Arial Narrow', Helvetica, Arial,
    sans-serif;
  font-size: 250%;
  padding-left: 20px;
}

.navbar a:visited,
.navbar a:hover {
  color: #790000;
  text-decoration: none;
}

nav {
  text-align: justify;
}

.nav-toggle {
  display: none;
  font-family: 'ChaletComprime-MilanSixty', 'Arial Narrow', Helvetica, Arial,
    sans-serif;
  position: absolute;
  right: 5px;
  top: 0.5em;
}

ul.nav {
  margin: 0.5em 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

ul.nav > li {
  list-style: none;
}

#container {
  min-height: 800px;
  padding: 0 0.5em;
  position: relative;
}

#content {
  margin: 0 auto;
  padding-top: 5px;
}

.about #content {
  color: #790000;
}

.about p {
  line-height: 1.4;
}

.about p + p {
  margin-top: 2rem;
}

h3.calendar {
  font-family: 'Rockwell', Georgia, serif;
  font-size: 90%;
  margin-top: 0;
  text-transform: uppercase;
}

h3.calendar:not(:first-of-type) {
  margin-top: 3em;
}

.about #content {
  text-align: justify;
}

.news-item,
.calendar-item {
  border-bottom: #bbb solid 1px;
  font-family: 'Rockwell', Georgia, serif;
  font-size: 90%;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.news-item-content,
.calendar-item-content {
  line-height: 1.33;
  margin: 0.5em 0;
  overflow-wrap: break-word;
}

.calendar-item-date,
.calendar-item-heading {
  text-transform: uppercase;
}

.news-item-date,
.news-item-foot {
  color: #790000;
}

.news-item-foot {
  background: transparent
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPlQTFRFZQ0Q7vDw6+vr4dvbYgkMvaKjUAAAVwAAZQ4QZAwPXgMDZBMTZA0OhkpKmWZnmmZnXQUFpHZ4kltbbh8e5N7e8PT0di4uYgoMyre3zLi4ZRsc8fX07OzskVpa6+zstpWVUgAAezo7qX9/ejMzsYuM08PEtpiX7vHx08TEXgUGYgkKZA0QVAAA1cbGWAAAXQACbBwc7/Hx5N/ffDY4hkVFl2RkupucZAsOupmaYw8PqYKC7/DwXQIDg0VE7/LyczExxKqrYggKTwAA8PPzWQAAXwUFXwUH29LScC0t39bW6efnZQ0PxKyt2c3NZAwO7O3t7e7uZA0PWgAAukDYqwAAAHdJREFUeNoEwYUCwVAYBtBvIaebYbqZZtp03fjf/2GcA7XMD2b7ldM4xFZ9nGrh43eCXyuRcchXiQtYhYF9zwZonsJwRv6P7O/GHbyjtGIs1IstcVnfzkxKjCJIN5NB6F1yq1Cme++VjPrCg6LYPEuNvMaVvwADANl9EWgZ3V1yAAAAAElFTkSuQmCC)
    0 50% no-repeat;
  font-size: 90%;
  font-weight: bold;
  padding-left: 20px;
}
.news-item p {
  font-size: 100%;
}
.news-item img {
  border: #bbb solid 1px;
}

.music .page-header > h2 {
  margin-bottom: 0;
}

.jazz-4-jrs #contents,
.jazz-4-jrs h2 {
  font-family: 'Cooper Black', 'Rockwell', Georgia, serif;
}

.jazz-4-jrs #content p,
.jazz-4-jrs #content li,
.jazz-4-jrs #content blockquote {
  color: #790000;
  font-size: 110%;
}

#music-menu {
  font-family: 'ChaletComprime-MilanSeventy', 'Arial Narrow', Helvetica, Arial,
    sans-serif;
  font-size: 180%;
  line-height: 1.5;
}

#music-menu > ul {
  float: left;
  margin-bottom: -0.5em;
  padding-left: 0;
}

#music-menu li {
  float: left;
  list-style-type: none;
}

#music-menu a {
  color: #222;
  display: block;
  padding-right: 1em;
  text-decoration: none;
}

#music-menu a:hover {
  text-decoration: underline;
}

.menu-footer {
  display: none;
}

#music-menu .menu-footer > a {
  color: #959595;
}

.music-item {
  font-family: 'Rockwell', Georgia, serif;
  margin-bottom: 1em;
  text-align: center;
}

.music-item img {
  margin: 0 auto;
}

.music-item a,
.music-item a:visited,
.music-item a:hover {
  color: #222;
  text-decoration: none;
}

.wpbe-cta {
  font-size: 140%;
}

.wpbe-zoom {
  cursor: zoom-in;
}

.art-item,
.animation-item + .animation-item {
  margin-top: 0.5em;
}

#contact,
#community {
  line-height: 1.6em;
  list-style: none;
  padding-left: 0;
}

#content #contact,
#content #community {
  font-size: 140%;
}

@media (max-width: 767px) {
  #container.splash,
  #container.bam-splash {
    background: transparent no-repeat center center fixed;
    min-height: calc(100vh - 55px);
  }

  .js ul.nav {
    border: solid #959595;
    border-width: 1px 1px 0 1px;
    display: none;
    margin: 0.5em auto 0 auto;
  }

  .js .nav > li {
    border-bottom: 1px solid #959595;
    display: list-item;
  }

  .js .nav > li a {
    display: block;
    padding: 0.3333em;
    text-decoration: none;
  }

  .js .nav > li a:hover {
    background-color: #efefef;
  }

  .js .nav-toggle {
    display: block;
  }
}

@media (min-width: 768px) {
  #container.splash,
  #container.bam-splash,
  #container.background {
    background: transparent center top no-repeat fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 100%;
    min-height: calc(100vh - 82px);
  }

  .page-header,
  .music .page-header {
    position: absolute;
    padding-top: 5px;
    width: 21%;
    z-index: -1;
  }

  #sidebar {
    position: absolute;
    width: 20%;
    top: 5.5em;
    text-align: justify;
  }

  .music #sidebar {
    top: 2em;
  }

  .music #sidebar .wrapper {
    padding-top: 4.5em;
    margin-right: 12%;
    padding-right: 18%;
  }

  .music .page-header > h2 {
    margin-right: 12%;
    padding-right: 18%;
  }

  .music.wpbe .page-header {
    padding-top: 0;
    width: 31.68%;
  }

  #contents {
    display: none;
  }

  .has-sidebar #content {
    margin: 0 0 0 22%;
  }

  .columns-2,
  .columns-3,
  .columns-5,
  .columns-6,
  .wpbe .columns-2 {
    margin: 0 -1em;
  }

  .columns-2:before,
  .columns-2:after,
  .columns-3:before,
  .columns-3:after,
  .columns-5:before,
  .columns-5:after,
  .columns-6:before,
  .columns-6:after {
    display: table;
    content: ' ';
  }

  .columns-2:after,
  .columns-3:after,
  .columns-5:after,
  .columns-6:after {
    clear: both;
  }

  .column {
    float: left;
  }

  .columns-2 > .column {
    width: 50%;
  }

  .columns-5 > .column {
    width: 20%;
  }

  .columns-6 > .column {
    width: 16.66667%;
  }

  .column .wrapper {
    padding: 5px 1em;
  }

  .column h3 {
    margin-top: 0;
  }

  .has-sidebar .column {
    float: none;
  }

  .has-sidebar .columns-2 > .column,
  .has-sidebar .columns-3 > .column,
  .has-sidebar .columns-5 > .column,
  .has-sidebar .columns-6 > .column {
    width: auto;
  }

  .art-design .columns-5,
  .art-design .columns-6 {
    margin: 3.5em -5px;
  }

  .art-design .column .wrapper {
    padding: 5px;
  }

  .art-item {
    margin-top: 0;
  }

  #music-menu {
    font-family: 'ChaletComprime-CologneSixty', 'Arial Narrow', Helvetica, Arial,
      sans-serif;
    font-size: 150%;
    line-height: normal;
    display: block;
    text-align: right;
  }

  #music-menu > ul {
    display: block;
    float: none;
    margin: 1em 0;
  }

  #music-menu li {
    display: list-item;
    float: none;
    padding-bottom: 0.333em;
  }

  #music-menu a {
    color: #790000;
    padding-right: 0;
  }

  #music-menu a.active {
    color: #222;
  }

  #music-menu a:hover {
    text-decoration: none;
  }

  .menu-footer {
    display: block;
    font-family: 'ChaletComprime-MilanSeventy', 'Arial Narrow', Helvetica, Arial,
      sans-serif;
    font-size: 80%;
    text-align: right;
  }

  .music.index .columns-5 {
    margin: 15% -0.5em;
  }

  .music.index .column .wrapper {
    padding: 0.5em;
  }

  .music-item {
    font-size: 140%;
    text-align: left;
  }

  .music-item img {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding: 1em;
  }
  .brand {
    position: absolute;
    margin-top: 8px;
  }
  nav {
    font-size: 200%;
    margin-left: 22%;
  }
  ul.nav {
    margin: 15px 0 5px 0;
  }

  #container {
    padding: 0 1em;
  }

  .has-sidebar .column {
    float: left;
  }

  .has-sidebar .columns-2 > .column {
    width: 50%;
  }

  .has-sidebar .columns-3 > .column {
    width: 33.333%;
  }

  .has-sidebar .columns-5 > .column {
    width: 20%;
  }

  .has-sidebar .columns-6 > .column {
    width: 16.66667%;
  }

  .page-header,
  #sidebar,
  .news-events #content,
  .music #content,
  .contact #content {
    padding-left: 0;
  }

  .music.has-sidebar #content {
    padding-left: 0;
  }

  .contact #content {
    padding-top: 7%;
  }

  #music-menu {
    font-size: 200%;
  }

  .music-item-main {
    font-size: 240%;
  }
  .music-item-main-title {
    width: 75%;
  }
}

@media (min-width: 1320px) {
  nav,
  #content,
  .has-sidebar #content,
  .music #content {
    margin: 0 auto;
    max-width: 1400px;
    width: 66.6667%;
  }

  .page-header,
  .music .page-header,
  #sidebar {
    width: 16.6667%;
  }

  .news-events #content,
  .music #content,
  .contact #content {
    padding-left: 0;
  }

  .music #sidebar .wrapper {
    padding-top: 4.5em;
    margin-right: 16%;
  }

  .music .page-header > h2 {
    margin-right: 16%;
  }

  .music.wpbe .page-header {
    width: 24.36%;
  }
  .animation #sidebar,
  .art-design #sidebar,
  .comics #sidebar {
    padding-right: 8px;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 120%;
  }
  .brand {
    background-image: url(img/ppfhouse_18x34.jpg);
    padding-left: 24px;
  }
  #container.splash,
  #container.bam-splash,
  #container.background {
    min-height: calc(100vh - 100.375px);
  }
  .page-header,
  #sidebar {
    padding-left: 24px;
  }
  ul.nav {
    margin: 17px 0 7px 0;
  }
}
