:root {
  --bg-color: white;
  --text-color: #790000;

  --bandcamp: #629aa9;
  --facebook: #1877f2;
  --instagram: #f56040;
  --youtube: #ff0000;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

#root,
#__next {
  isolation: isolate;
}

html {
  height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, sans-serif;
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: var(--text-color);
  padding-inline: 0.25em;
}

a:focus-visible,
a:hover {
  text-decoration: underline;
}

a:active,
a:focus-visible,
a:hover {
  color: color-mix(in srgb, var(--text-color), black 30%);
}

a:focus-visible {
  border-radius: 0.25em;
  outline: 2px solid color-mix(in srgb, var(--text-color), transparent 60%);
  outline-offset: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.content__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;

  background-image: url(https://res.cloudinary.com/dunew51zn/image/upload/v1700433511/wpbe-logo-c_f8vpaj.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.splash--lgh {
  background-image: url(https://res.cloudinary.com/dunew51zn/image/upload/v1763768324/wpbe/wpbe-least-greatest-hots-vol-1_u27flf.jpg);
}

@media screen and (orientation: landscape) and (max-height: 576px) {
  .content {
    flex-direction: row;
  }

  .content__body {
    margin-inline: 4%;
  }
}

@media screen and (max-width: 576px) {
  .content__body {
    margin-bottom: 2rem;
  }
}

nav.nav {
  background-color: rgba(255, 255, 255, 0.9);
  flex-shrink: 0;
  font-family: inherit;
  margin: auto auto 4% auto;
  padding: 0 4%;
  width: 100%;
}

.nav__list {
  align-items: center;
  display: flex;
  font-size: clamp(1.4rem, 0.714rem + 1.905vw, 3rem);
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.nav__list > li > a {
  color: inherit;
  padding: 0.25rem 0.5rem;

  &.bandcamp {
    color: var(--bandcamp);
  }

  &.facebook {
    color: var(--facebook);
  }

  &.instagram {
    color: var(--instagram);
  }

  &.youtube {
    color: var(--youtube);
  }
}

.nav__list > li > a:hover,
.nav__list > li > a:focus {
  color: color-mix(in srgb, var(--text-color), #000 30%);

  &.bandcamp {
    color: color-mix(in srgb, var(--bandcamp), #000 30%);
  }

  &.facebook {
    color: color-mix(in srgb, var(--facebook), #000 30%);
  }

  &.instagram {
    color: color-mix(in srgb, var(--instagram), #000 30%);
  }

  &.youtube {
    color: color-mix(in srgb, var(--youtube), #000 30%);
  }
}

.nav__list > li > a:focus-visible {
  border-radius: 2px;
  outline: 2px solid color-mix(in srgb, var(--text-color), transparent 40%);
}

/* Buttons */

.btn {
  --border-radius: 999em; /* Creates a pill shape */

  /* reset */
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 0;

  /* default */
  background-color: white;
  border: solid 1px;
  border-color: transparent;
  border-radius: var(--border-radius);
  color: black;
  display: inline-flex;
  margin-top: 4px;
  padding: calc(0.5em + 1px) 1.5em;
  text-decoration: none !important;
  transition: all 0.15s ease-in-out;

  &:focus,
  &:hover,
  &:hover:visited,
  &:active {
    background-color: color-mix(in srgb, var(--text-color), white 90%);
    border-color: #790000;
    border-width: 1px;
    box-shadow: none;
    color: white;
  }

  &:focus-visible {
    border-radius: var(--border-radius);
    outline: 3px solid color-mix(in srgb, var(--text-color), transparent 60%);
    outline-offset: 1px;
  }

  &:visited {
    color: var(--text-color);
  }
}

.btn--responsive {
  font-size: clamp(1.5rem, 1.179rem + 0.893vw, 2.25rem);
}

.btn--download {
  background-color: var(--text-color);
  border-color: var(--text-color);
  color: white;
  font-weight: 600;
  padding-inline: 3em;

  &:focus,
  &:focus-visible,
  &:hover,
  &:hover:visited,
  &:active {
    background-color: color-mix(in srgb, var(--text-color), black 30%);
    color: white;
  }

  &:visited {
    color: white;
  }
}

/* Utilities */

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ms-1 {
  margin-inline-start: 0.25rem;
}
.ms-2 {
  margin-inline-start: 0.5rem;
}
