:root {
  --wpbe-splash-image: url(https://res.cloudinary.com/dunew51zn/image/upload/v1700433511/wpbe-logo-c_f8vpaj.jpg);
  --wpbe-splash-bg-color: white;
  --wpbe-splash-text-color: #790000;

  --bandcamp: #629aa9;
  --facebook: #1877f2;
  --instagram: #f56040;
  --youtube: #ff0000;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  background-color: white;
  color: #790000;
  font-family: system-ui, sans-serif;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  height: 100%;
}

footer {
  bottom: 0;
  backdrop-filter: blur(4px);
  padding: 0.5rem;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer > img {
  display: inline-block;
  vertical-align: middle;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wpbeSplash,
.wpbeLgh {
  background-color: var(--wpbe-splash-bg-color, white);
  color: var(--wpbe-splash-text-color, #790000);
  display: flex;
  flex-direction: column;
  font-family: "d-din_condensedregular", system-ui, sans-serif;
  height: 100dvh;
  justify-items: center;
}

.wpbeLgh > .wpbeBody {
  --wpbe-splash-image: url(https://res.cloudinary.com/dunew51zn/image/upload/v1763768324/wpbe/wpbe-least-greatest-hots-vol-1_u27flf.jpg);
}

.wpbeBody {
  background-image: var(--wpbe-splash-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: default;
  display: block;
  height: 100%;
}

.wpbeContent {
  margin: 1rem auto 2rem auto;
}

nav.wpbeNav {
  background-color: rgba(255, 255, 255, 0.9);
  font-family: inherit;
  margin: auto auto 5% auto;
  padding: 0 5%;
  width: 100%;
}

.wpbeNavList {
  align-items: center;
  display: flex;
  font-size: clamp(1.4rem, 3vw, 3rem);
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.wpbeNavList > li > a {
  --padding-block: 0.25rem;
  --padding-inline: 0.5rem;

  color: inherit;
  padding: var(--padding-block) var(--padding-inline);

  &.bandcamp {
    color: var(--bandcamp);
  }

  &.facebook {
    color: var(--facebook);
  }

  &.instagram {
    color: var(--instagram);
  }

  &.youtube {
    color: var(--youtube);
  }

  &:has(img) {
    display: block;
  }

  & > img {
    display: inline-block;
  }

  &.internal {
    max-width: 3em;
  }
}

.wpbeNavList > li > a:hover,
.wpbeNavList > li > a:focus {
  color: color-mix(in srgb, var(--wpbe-splash-text-color, #790000), #000 30%);

  &.bandcamp {
    color: color-mix(in srgb, var(--bandcamp), #000 30%);
  }

  &.facebook {
    color: color-mix(in srgb, var(--facebook), #000 30%);
  }

  &.instagram {
    color: color-mix(in srgb, var(--instagram), #000 30%);
  }

  &.youtube {
    color: color-mix(in srgb, var(--youtube), #000 30%);
  }
}

.wpbeNavList > li > a:focus-visible {
  border-radius: 2px;
  outline: 2px solid
    color-mix(in srgb, var(--wpbe-splash-text-color, #790000), transparent 40%);
}

.btn {
  /* reset */
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 0;

  /* default */
  background-color: white;
  border: solid 1px;
  border-color: transparent;
  border-radius: 50px;
  color: black;
  display: inline-block;
  margin-top: 4px;
  padding: calc(0.5em + 1px) 1.5em;
  text-decoration: none;
  transition: all 0.15s ease-in-out;

  &:focus,
  &:hover,
  &:hover:visited,
  &:active {
    background-color: color-mix(
      in srgb,
      var(--wpbe-splash-text-color, #790000),
      white 90%
    );
    border-color: #790000;
    border-width: 1px;
    box-shadow: none;
    color: white;
  }

  &:focus-visible {
    outline: 3px solid
      color-mix(
        in srgb,
        var(--wpbe-splash-text-color, #790000),
        transparent 60%
      );
    outline-offset: 1px;
  }

  &:visited {
    color: var(--wpbe-splash-text-color, #790000);
  }
}

.btn--download {
  background-color: var(--wpbe-splash-text-color, #790000);
  border-color: var(--wpbe-splash-text-color, #790000);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding-inline: 3em;

  &:focus,
  &:focus-visible,
  &:hover,
  &:hover:visited,
  &:active {
    background-color: color-mix(
      in srgb,
      var(--wpbe-splash-text-color, #790000),
      black 30%
    );
    color: white;
  }

  &:visited {
    color: white;
  }
}
